<div class="cardContainer">
  <div class="card">
      <div class=""><img src="{{vans?.img}}" alt="{{vans?.title}}"></div>
      <div class="">
        <h2 class="text-title">Marca:{{vans?.title}} </h2>
        <p class="text-items">Year: {{vans?.year}} </p>
        <p class="text-items">Km: {{vans?.km}} </p>
        <p class="text-items">Kw: {{vans?.kw}} </p>
        <p class="text-items">Price: {{vans?.price}} </p>
        <p class="text-items">Fuel: {{vans?.fuel}}</p>
        <p class="text-items">Description:</p>
        <p class="text-body">{{vans?.description}}</p>
      </div>
    </div>