 <!-- <div class="van-list-container">
    <div class="van-col" *ngFor="let van of filteredVans">
        <div class="van-card">
            <a routerLink="/camperview/{{van.id}}">
            <img src="{{van.img}}" alt="{{van.title}}"></a>
            <h2>{{van.title}}</h2>
            <h3>{{van.price}}€</h3> | {{van.model}}
            <p>{{van.fuel}}</p>
            <p>{{van.year}}</p>
            <p>{{van.km}}</p>
            <p>{{van.kw}}</p>
            <button (click)="addFav(van.id)">Add Fav</button>
        </div>
    </div>
</div> -->
 
<section>

  <div class="card" *ngFor="let van of filteredVans">
    <img src="{{van.img}}" alt="{{van.title}}" > 
    
    <a routerLink="/camperview/{{van.id}}">
      <div class="card__content">
        <p class="card__title">{{van.title}}</p>
        <h3 class="card__description">Price:{{van.price}}€</h3>
        <p>Fuel:{{van.fuel}}</p>
        <p>Year:{{van.year}}</p>
        <p>Km:{{van.km}}</p>

      </div> </a>
    
  </div>
  </section>