.filterForm {
  display: block;
  padding: 30px;
}
.filtNum {
  color: rgb(17, 115, 206);
  font-weight: 300;
  font-weight: bolder;
}
.form-search {
  width: 100%;
  padding: 20px 10px;
}

.form-icon-checkbox img {
  width: 20px;
  cursor: pointer;
}
